.sidebar-wrapper {
    background: transparent;
    transition: background 0.4s ease-out;
    position: relative;
}

.sidebar-wrapper:hover {
    background: var(--blue-1);
}

.sidebar {
    position: sticky;
    top: 0;
    background: transparent;
    /* min-width: 7vw; */
    width: 130px;
    left: 0;
    height: 100vh;
    z-index: 70;
    cursor: pointer;
    user-select: none;
    border: none;
    border-right: 1px solid var(--grey-line);
}

.sidebar-logo {
    position: fixed;
    top: 40px;
    left: 16px;
}

.sidebar-wrapper path {
    transition: fill 0.2s ease-out;
    fill: var(--color-bg-element-secondary);
}
.sidebar-wrapper:hover path {
    fill: var(--no-change-fff);
}

.sidebar-wrapper:hover path.logo_detail {
    fill: red;
}

.sidebar-wrapper span:first-child {
    transform: translateX(0);
    transition:
        transform 0.3s ease-out,
        width 0.1s ease-out;
}

.sidebar-wrapper:hover span:first-child {
    transform: translateX(-20px);
    width: 15px;
    border-radius: 10px;
    background: var(--no-change-fff);
}

.sidebar-wrapper span:nth-child(2) {
    transform: translateX(0);
    transition:
        transform 0.3s ease-out,
        width 0.1s ease-out;
}

.sidebar-wrapper:hover span:nth-child(2) {
    transform: translateX(-12px);
    width: 30px;
    background: var(--no-change-fff);
    border-radius: 10px;
}

.sidebar-wrapper span:last-child {
    transform: translateX(0);
    transition:
        transform 0.3s ease-out,
        width 0.1s ease-out;
}

.sidebar-wrapper:hover span:last-child {
    transform: translateX(-5px);
    width: 45px;
    background: var(--no-change-fff);
    border-radius: 10px;
}

/* .sidebar-wrapper span:nth-child(2) {
    transform: translateX(0);
    transition: transform 0.5s ease, width 0.5s ease;
}

.sidebar-wrapper:hover span:nth-child(2) {
    transform: translateX(-20px);
    width: 30px;
} */

/* .sidebar-wrapper {
    position: relative;
} */

@media (min-width: 2200px) {
    .sidebar {
        width: 150px;
    }

    .sidebar-logo {
        width: 150%;
    }
}

@media (max-width: 1200px) {
    .sidebar {
        width: 100px;
    }

    .sidebar-logo {
        left: 0;
        width: 90px;
    }
}

@media (max-width: 1023px) {
    .sidebar {
        display: none;
    }
    .sidebar-logo {
        display: none;
    }
    .dekstop {
        display: none;
    }
}
