.wrapper {
  background: var(--color-surface-inverse);
  position: relative;
}

@media (hover: hover) {
  .wrapper:hover .dekstop > button span:first-child {
    width: 12px;
  }

  .wrapper:hover .dekstop > button span:nth-child(2) {
    width: 22px;
  }

  .wrapper:hover .dekstop > button span:last-child {
    width: 32px;
  }
}

@media (min-width: 2200px) {
  .wrapper:hover .dekstop > button span:first-child {
    width: 14px;
  }

  .wrapper:hover .dekstop > button span:nth-child(2) {
    width: 26px;
  }

  .wrapper:hover .dekstop > button span:last-child {
    width: 40px;
  }
}

@media (max-width: 1200px) {
  .wrapper:hover .dekstop > button span:first-child {
    width: 10px;
  }

  .wrapper:hover .dekstop > button span:nth-child(2) {
    width: 18px;
  }

  .wrapper:hover .dekstop > button span:last-child {
    width: 26px;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  background: transparent;
  width: 108px;
  left: 0;
  height: 100vh;
  z-index: 70;
  cursor: pointer;
  user-select: none;
  border: none;
  border-right: 1px solid var(--color-surface);
}

@media (min-width: 2200px) {
  .sidebar {
    width: 124px;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    width: 92px;
  }
}

@media (width < 1024px) {
  .sidebar {
    display: none;
  }
}

.dekstop {
  display: contents;
}

@media (width < 1024px) {
  .dekstop {
    display: none;
  }
}

.logo {
  position: fixed;
  top: 28px;
  left: 14px;
  width: 80px;
  z-index: 71;
}

@media (min-width: 2200px) {
  .logo {
    left: 18px;
    width: 88px;
  }
}

@media (max-width: 1200px) {
  .logo {
    left: 12px;
    width: 68px;
  }
}

@media (width < 1024px) {
  .logo {
    display: none;
  }
}

@media (width >= 1024px) {
  .menuOpen .logo {
    visibility: hidden;
  }
}

.logo :global(path) {
  fill: var(--color-white);
}

:global(:root[data-theme="dark"]) .wrapper {
  background: var(--color-bg);
}
