.button {
  padding: 16px 40px;
  border: 2px solid var(--color-accent);
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;
  font-weight: 600;
  white-space: nowrap;
}

@media (max-width: 1440px) {
  .button {
    padding: 14px 32px;
  }
}

@media (max-width: 1200px) {
  .button {
    padding: 12px 28px;
  }
}

@media (max-width: 767px) {
  .button {
    width: 100%;
  }
}

.button p {
  width: max-content;
  display: inline-block;
  text-align: center;
}

.fill {
  background-color: var(--color-accent);
  color: var(--color-white);
}

@media (hover: hover) {
  .fill:hover {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

.outline {
  background-color: transparent;
  color: var(--color-text);
}

@media (hover: hover) {
  .outline:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}
