.sections {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (width < 768px) {
  .sections {
    gap: 35px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (width < 768px) {
  .section {
    gap: 18px;
  }
}

.sectionTitle {
  color: var(--color-text);
}
