.services-category:last-child {
    margin-bottom: 100px;
}
.title-category {
    margin-top: 100px;
    margin-bottom: 50px;
}
.services {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.service-wrapper {
    background: var(--grey-line-2);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.service-wrapper:hover {
    transform: scale(1.05);
    border: none;
}

.service-wrapper:active {
    transform: scale(0.95);
}

.service {
    padding: 30px;
    background: var(--grey-line);
    height: 100%;
    color: var(--color-text-primary);
}

.service-title {
    font-weight: 800;
    margin-bottom: 30px;
}


