:root {
    --line-height: calc(1em+4px);
}

.typography.h1,
.typography.h2,
.typography.h3,
.typography.text-24,
.typography.text-20,
.typography.text-16,
.typography.footer-title,
.typography.h1-footer,
.typography.h4,
.typography.h5 {
    line-height: calc(1em + 4px);
}

.h1 {
    font-size: clamp(1.95rem, 5.2vw, 10rem);
    font-weight: 900;
}

.h2 {
    font-size: clamp(1.95rem, 4.2vw, 10rem);
    font-weight: 900;
    white-space: pre-line;
}

.h3 {
    font-size: clamp(1.95rem, 4vw, 10rem);
}

.h4 {
    font-size: 28px;
}

.h5 {
    font-size: clamp(1.95rem, 2.2vw, 10rem);
    color: var(--no-change-black);
}

.body-l {
    font-size: 24px;
}

.body-m {
    font-size: 20px;
}

.body-s {
    font-size: 16px;
}

.body-xs {
    font-size: 14px;
}

.button {
    font-size: 18px;
}

.footer-title {
    font-size: clamp(2rem, 7.5vw, 10rem);
}

.h1-footer {
    font-size: clamp(2rem, 4.5vw, 10rem);
    font-weight: 900;
}

@media (min-width: 2200px) {
    .body-l {
        font-size: 34px;
    }

    .body-s {
        font-size: 26px;
    }

    .button {
        font-size: 28px;
    }
}

@media (max-width: 1440px) {
    .h1-footer {
        font-size: clamp(2rem, 4.3vw, 10rem);
    }

    .h4 {
        font-size: 24px;
    }

    .body-xs {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .body-l {
        font-size: 20px;
    }

    .body-m {
        font-size: 18px;
    }

    .body-xs {
        font-size: 14px;
    }

    .button {
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .h2 {
        font-size: clamp(2rem, 6.8vw, 10rem);
    }
}

@media (max-width: 767px) {
    .body-l {
        font-size: 18px;
    }

    .body-xs {
        font-size: 12px;
    }

    .h1 {
        font-size: clamp(2.35rem, 6.2vw, 10rem);
        font-weight: 900;
    }

    .h4 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .h1-footer {
        font-size: clamp(1.85rem, 4.3vw, 10rem);
    }

    .body-l {
        font-size: 16px;
    }
}

@media (max-width: 424px) {
    .h1-footer {
        font-size: clamp(1.75rem, 4.3vw, 10rem);
    }
}

@media (max-width: 374px) {
    .h1 {
        font-size: clamp(1.95rem, 5.2vw, 10rem);
    }

    .h1-footer {
        font-size: clamp(1.5rem, 4.3vw, 10rem);
    }

    .footer-title {
        font-size: clamp(1.9rem, 7.5vw, 10rem);
    }
}
