.embla {
  color: var(--color-text-inverse);
  padding: 5px 5px;
  border-bottom: 20x solid var(--color-surface);
}

.embla p {
  font-size: 30px;
}

@media (width < 1024px) {
  .embla p {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .embla p {
    font-size: 30px;
  }
}

.slide {
  width: max-content;
}
