:root {
  --line-height: calc(1em+4px);
}

.typography.h1,
.typography.h2,
.typography.h3,
.typography.text24,
.typography.text20,
.typography.text16,
.typography.footer-title,
.typography.h1-footer,
.typography.h4,
.typography.h5 {
  line-height: calc(1em + 4px);
}

.h1 {
  font-size: clamp(1.85rem, 4.4vw, 6.75rem);
  font-weight: 900;
}

@media (width < 768px) {
  .h1 {
    font-size: clamp(2.1rem, 5.4vw, 6.75rem);
  }
}

@media (width < 375px) {
  .h1 {
    font-size: clamp(1.85rem, 4.8vw, 6.75rem);
  }
}

.h2 {
  font-size: clamp(1.7rem, 2.8vw, 3.25rem);
  font-weight: 900;
  white-space: pre-line;
}

@media (width < 1024px) {
  .h2 {
    font-size: clamp(1.6rem, 6vw, 2.4rem);
  }
}

.h3 {
  font-size: clamp(1.35rem, 2vw, 2.15rem);
  font-weight: 700;
}

.h4 {
  font-size: 28px;
}

@media (max-width: 1440px) {
  .h4 {
    font-size: 24px;
  }
}

@media (width < 768px) {
  .h4 {
    font-size: 20px;
  }
}

.h5 {
  font-size: clamp(1.95rem, 2.2vw, 10rem);
  color: var(--color-black);
}

.body-l {
  font-size: 18px;
}

@media (min-width: 2200px) {
  .body-l {
    font-size: 34px;
  }
}

@media (max-width: 1200px) {
  .body-l {
    font-size: 20px;
  }
}

@media (width < 768px) {
  .body-l {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .body-l {
    font-size: 16px;
  }
}

.body-m {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .body-m {
    font-size: 18px;
  }
}

.body-s {
  font-size: 16px;
}

@media (min-width: 2200px) {
  .body-s {
    font-size: 26px;
  }
}

.body-xs {
  font-size: 14px;
}

@media (max-width: 1440px) {
  .body-xs {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .body-xs {
    font-size: 14px;
  }
}

@media (width < 768px) {
  .body-xs {
    font-size: 12px;
  }
}

.button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 2200px) {
  .button {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .button {
    font-size: 14px;
  }
}

.footer-title {
  font-size: clamp(1.85rem, 4.4vw, 4.25rem);
  font-weight: 400;
  letter-spacing: 0.02em;
}

.h1-footer {
  font-size: clamp(1.35rem, 2.4vw, 2.5rem);
  font-weight: 800;
  letter-spacing: -0.02em;
}
