.newsOne h2 {
    font-size: 60px;
}

.detail-and-news {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.detail {
    background: var(--grey-line);
    margin-left: 30px;
    height: max-content;
}
.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.sidebar-wrapper {
    border-left: 10px solid var(--grey-line-2);
}

@media (max-width: 1023px) {
    .detail-and-news {
        flex-direction: column;
        gap: 20px;
    }

    .newsOne h2 {
        font-size: 40px;
    }

    .detail {
        margin-right: 15px;
        margin-left: 15px;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 50px;
    }

    .sidebar-wrapper {
        width: 100%;
        border-left: none;
    }

    .sidebar-wrapper :global(.container),
    .sidebar-wrapper :global(.content) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .newsOne h2 {
        font-size: 30px;
    }
}

@media (max-width: 424px) {
    .newsOne h2 {
        font-size: 24px;
    }

    .detail {
        margin-right: 5px;
        margin-left: 5px;
    }

    .sidebar-wrapper :global(.container),
    .sidebar-wrapper :global(.content) {
        padding-left: 5px;
        padding-right: 5px;
    }
}
