.section {
  padding-top: 32px;
  padding-bottom: 48px;
}

@media (width < 1024px) {
  .section {
    padding-top: 24px;
    padding-bottom: 36px;
  }
}

@media (width < 768px) {
  .section {
    padding-top: 20px;
    padding-bottom: 28px;
  }
}
