.button {
  position: absolute;
  left: 30px;
  bottom: 5%;
  z-index: 10;
  user-select: none;
  border: none;
  font-weight: 900;
  color: var(--color-white);
  background: none;
  cursor: pointer;
  height: max-content;
  font-size: 30px;
  transition: font-size 0.3s ease-out;
  display: flex;
  gap: 2px;
}

@media (max-width: 1023px) {
  .button {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 5%;
  }
}

@media (hover: hover) {
  .button:hover {
    color: var(--color-grey);
    font-size: 28px;
  }
}

.left,
.right {
  transition: translateX 0.3s ease--out;
}

.button .right,
.button .left {
  transition: transform 0.3s ease-out;
}

@media (hover: hover) {
  .button:hover .left {
    transform: translateX(-5px);
  }

  .button:hover .right {
    transform: translateX(5px);
  }
}
