.button-close {
    position: absolute;
    left: 30px;
    bottom: 5%;
    z-index: 10;
    user-select: none;
    border: none;
    font-weight: 900;
    color: var(--no-change-fff);
    background: none;
    cursor: pointer;
    height: max-content;
    font-size: 30px;
    transition: font-size 0.3s ease-out;
    display: flex;
    gap: 2px;
}

.button-close:hover {
    color: var(--no-change-grey);
    font-size: 28px;
}

.left,
.right {
    transition: translateX 0.3s ease--out;
}

.button-close .right,
.button-close .left {
    transition: transform 0.3s ease-out;
}

.button-close:hover .left {
    transform: translateX(-5px);
}

.button-close:hover .right {
    transform: translateX(5px);
}

@media (max-width: 1023px) {
    .button-close {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 5%;
    }
}
