.header {
  position: relative;
  width: 100%;
  background: var(--color-bg-primary);
  z-index: 50;
}

.wrapper {
  position: relative;
}

.buttons {
  display: flex;
  gap: 30px;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 20px;
  gap: 15px;
}

.logo,
.burgerWrapper {
  display: none;
}

.logo {
  width: 84px;
}

.logo path {
  fill: var(--color-bg-element-secondary);
}

@media (max-width: 1023px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: var(--safe-area-top);
    border-bottom: 2px solid var(--grey-line);
  }

  .logo {
    display: block;
    position: relative;
    z-index: 60;
  }

  .buttons {
    position: relative;
    top: 0;
    gap: 5px;
  }

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .burgerWrapper {
    display: block;
  }
}
