.header {
    position: relative;
    width: 100%;
    background: var(--color-bg-primary);
    border-bottom: 2px solid var(--grey-line);
    z-index: 50;
}

.wrapper-header {
    position: relative;
}

.header-buttons {
    display: flex;
    gap: 30px;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 20px;
    gap: 15px;
}

.header-logo,
.burger-mobile-wrapper {
    display: none;
}

.header-logo path {
    fill: var(--color-bg-element-secondary);
}

.header-logo {
    width: 84px;
}

@media (max-width: 1023px) {
    .header {
        position: fixed;
    }

    .header-logo {
        display: block;
        position: relative;
        z-index: 60;
    }

    .header-buttons {
        position: relative;
        top: 0;
        gap: 5px;
    }

    .wrapper-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    .burger-mobile-wrapper {
        display: block;
    }
}
