.allPage {
  padding: 0 30px;
  width: 100%;
  margin: 28px 0 8px;
}

.detailPage {
  width: 100%;
}

@media (width < 1024px) {
  .allPage {
    padding: 0 15px;
  }
}

@media (width < 768px) {
  .allPage {
    margin: 20px 0 8px;
  }
}

@media (max-width: 424px) {
  .allPage {
    padding: 0 5px;
  }
}
