.news-categories {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.categories-button {
    background: var(--transparent);
    border: none;
    color: var(--color-text-primary);
    border: 1px solid var(--color-bg-element-secondary);
    padding: 15px 30px;
    cursor: pointer;
    white-space: nowrap;
    width: max-content;
    font-size: 18px;
    transition:
        background 0.2s ease-out,
        border 0.2s ease-out,
        color 0.2s ease-out;
}

.active-category {
    background: var(--color-bg-element-secondary);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-bg-element-secondary);
}

@media (hover: hover) {
    .categories-button:hover {
        background: var(--blue-1);
        border: 1px solid var(--blue-1);
        color: var(--no-change-fff);
    }

    .active-category:hover {
        background: var(--color-bg-element-secondary);
        color: var(--color-text-secondary);
        border: 1px solid var(--color-bg-element-secondary);
    }
}

@media (min-width: 2200px) {
    .categories-button {
        font-size: 28px;
    }
}

@media (max-width: 1200px) {
    .categories-button {
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .news-categories {
        flex-direction: row;
        padding-left: 45px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .categories-button {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .news-categories {
        padding-left: 30px;
        width: 200%;
    }

    .wrapper {
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@media (max-width: 424px) {
    .news-categories {
        padding-left: 10px;
    }
}
