.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 130px;
    background: none;
    border: none;
    position: fixed;
    top: 50%;
}

.burger-menu span {
    width: 55px;
    height: 5px;
    background: var(--color-bg-element-secondary);
    transition:
        background 0.4s ease-out,
        transform 0.3s ease;
}

.logo {
    position: absolute;
    left: 30px;
    transform: none;
    top: 5%;
}

.menu-wrapper path {
    fill: var(--no-change-fff);
}

.menu-wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 70;
    pointer-events: none;
}

.inner {
    background: var(--blue-1);
    position: fixed;
    width: 30%;
    height: 100vh;
    left: 0%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    transform: translateX(-105%);
    transition:
        transform 0.2s ease-out,
        visibility 0.2s ease-out;
    z-index: 70;
    text-transform: uppercase;
    visibility: hidden;
}

.menu-wrapper.menu-active {
    pointer-events: auto;
}

.menu-wrapper.menu-active .inner {
    transform: translateX(0);
    visibility: visible;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 700;
    text-align: left;
    width: 100%;
}

.nav-link {
    color: var(--no-change-fff);
    transition: color 0.3s ease-out;
}
.nav-link-active {
    color: var(--no-change-grey);
}

@media (hover: hover) {
    .burger-menu:hover span {
        background: var(--no-change-fff);
    }

    .nav-link:hover {
        color: var(--no-change-grey);
    }
}

@media (min-width: 2200px) {
    .burger-menu span {
        width: 85px;
        height: 8px;
    }

    .burger-menu {
        gap: 10px;
        width: 150px;
    }
}

@media (max-width: 1200px) {
    .burger-menu span {
        width: 50px;
        height: 5px;
    }

    .burger-menu {
        width: 100px;
    }
}

@media (max-width: 1023px) {
    .burger-menu {
        position: absolute;
        width: 100%;
        top: 36px;
    }

    .inner {
        width: 100%;
        height: 100vh;
        text-align: center;
        transform: translateY(-100%);
    }

    .menu-wrapper.menu-active .inner {
        transform: translateY(0);
    }

    .nav-links {
        text-align: center;
    }

    .logo {
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0;
        top: 93%;
        bottom: 0;
    }
}

@media (max-width: 424px) {
    .burger-menu span {
        width: 46px;
        height: 5px;
    }
}
