.footer {
  padding-bottom: calc(40px + env(safe-area-inset-bottom, 0px));
  background: var(--color-text);
  color: var(--color-text-inverse);
  z-index: 1;
  position: relative;
}

.wrapper {
  border-top: 1px solid var(--color-surface);
}

.wrapper a {
  color: var(--color-text-inverse);
  cursor: pointer;
}

.inner {
  display: flex;
  gap: 28px;
  flex-direction: column;
  padding: 36px 0 24px;
}

@media (width < 1024px) {
  .inner {
    gap: 18px;
    padding: 24px 0 18px;
  }
}
