.menuAndPage {
  display: flex;
  width: 100%;
}

@media (width < 1024px) {
  .menuAndPage {
    display: block;
  }
}

.page {
  position: relative;
  width: calc(100% - 108px);
  z-index: 0;
}

@media (min-width: 2200px) {
  .page {
    width: calc(100% - 124px);
  }
}

@media (max-width: 1200px) {
  .page {
    width: calc(100% - 92px);
  }
}

@media (width < 1024px) {
  .page {
    width: 100%;
  }
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
}

@media (width < 1024px) {
  .main {
    padding-top: calc(100px + var(--safe-area-top));
  }
}

.backgroundLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-surface);
  z-index: 0;
}

.backgroundLine:first-child {
  right: 108px;
}

@media (min-width: 2200px) {
  .backgroundLine:first-child {
    right: 124px;
  }
}

@media (max-width: 1200px) {
  .backgroundLine:first-child {
    right: 92px;
  }
}

@media (width < 1024px) {
  .backgroundLine:first-child {
    right: 15px;
  }
}

@media (max-width: 424px) {
  .backgroundLine:first-child {
    right: 5px;
  }
}

.backgroundLine:nth-child(2) {
  right: 28.5vw;
}

@media (width < 1024px) {
  .backgroundLine:nth-child(2) {
    right: 66.6vw;
  }
}

.backgroundLine:nth-child(3) {
  right: 50vw;
}

@media (width < 1024px) {
  .backgroundLine:nth-child(3) {
    right: 33.3vw;
  }
}

.backgroundLine:nth-child(4) {
  right: 71.5vw;
}

@media (width < 1024px) {
  .backgroundLine:nth-child(4) {
    left: 15px;
  }
}

@media (max-width: 424px) {
  .backgroundLine:nth-child(4) {
    left: 5px;
  }
}
